* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
}

.left-section {
    padding-left: 110px;
    padding-top: 63px;
}

.top-section {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 393px;
    margin-bottom: 70px;
}

.right-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.logo-left {
    height: 40px;
    width: 40px;
}

.logo-right .text-right {
    width: 95px;
}

.left-text-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-text {
    /* margin-top: 100px; */
    width: 385px;
}

p {
    color: #939393;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.36px;
}

h1 {
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24.38px;
    color: #000000;
}

select {
    border: none;
    outline: none;
    color: #939393;
    background-color: transparent;
}

.input-label {
    position: relative;
    width: 300px;
}

.input-label input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    background-color: #f0eded;
    border-radius: 15px;
    outline: none;
}

.input-label input:focus {
    border: 1.5px solid #0069f4;
}

.input-label input::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 15.85px;
    color: #545454;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.icon-btn {
    font-size: 20px;
    color: #939393;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding-top: 27px;
}

form > button {
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 128px;
    width: 300px;
    border-radius: 15px;
    opacity: 1;
    border: none;
    background-color: #0069f4;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 15.85px;
    outline: none;
}

form > button:hover {
    background-color: #0021f4;
}

@media (max-width: 768px) {
    .right-section {
        display: none;
    }
    .left-section {
        padding: 20px;
        padding-top: 20px;
    }
    .top-section {
        gap: 20px;
        margin-bottom: 30px;
    }
    .left-text {
        width: 90%;
    }
    .input-label input {
        width: 100%;
    }
    form > button {
        padding-inline: 40px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .left-section {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
    }
    .top-section {
        gap: 100px;
        margin-bottom: 50px;
    }
    .left-text {
        width: 80%;
    }
}
